:root{
    --primaryColor:whitesmoke;
    --secondayColor:rgb(146, 156, 146);
}
*{
    box-sizing: border-box;
}
body{
    display: flex;
    /* Going to try to work with flex this time */
}
nav{
    padding: 3% 3%;
    width: 30vw;
    height: 100vh;
    background-color: var(--secondayColor);
}
main{
    width: 70vw;
    background-color: var(--primaryColor);
    padding: 3% 2%;
}
.lists>div{
    background-color: var(--primaryColor);
    margin: auto;
    text-align: center;
    padding: 5px 0;
}
.lists>div>div{
    display: inline;
    float: right;
    padding-right: 10%;
}
.lists>div:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.lists>div:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}